body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

.main-div {
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.title {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 200;
    font-size: 5em;
    margin: 0px;
    color: var(--h1);
}

.settingDiv {
    margin-top: 30vh;
    height: 200px;
    width: 300px;
    display: inline-block;
    border-radius: 8px;
    padding: 20px;
    margin: 16px;
    background-color: var(--secondary);
    color: var(--text);
    transition-duration: 0.2s;
    border: none;

}

.settingDiv:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px var(--effects);
}

.settingTitle {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

.settingButton {
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 20px;
    color: var(--text);
}

.settingButton:hover {
    color: var(--primary);
    background-color: var(--text);
    cursor: pointer;
}

.settingDesc {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}
.dropbtn {
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 20px;
    color: var(--text);

}
.dropdown {
    border: none;
    border-radius: 4px; 
    background-color: var(--primary);
    font-size: 15px;
    color: white;
}

.dropdown-content {
    opacity: 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--effects);
    z-index: 1;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    visibility: hidden;
}
.dropdown-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    .dropdown-content a:hover {
    background-color: #aba2a2;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.settingDesc {
    visibility: hidden;
    font-size: 13px;
}
.i {
    font-family: serif;
    font-size: small;
    font-weight: bold;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 10px;
    text-align: center;
}
  .tooltiptext {
    font-family: "Noto Sans", sans-serif;
    visibility: hidden;
    width: 220px;
    background-color: var(--secondary);
    border: 0.5px solid white;
    color: var(--text);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .i:hover .tooltiptext {
    visibility: visible;
  }
  