@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(50deg, red 0%, red 100%);

}

@keyframes load {
  from {
    opacity: 0;
    transform: translateY(50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
html,
body {
  height: 100%;
  margin: 0;
}

.w3-display-container {
  border-radius: 10px;
}
.search-box {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.centerinput {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uv-address {
  width: 40vw;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  height: 50px;
  background: none;
  padding: 0px 17px;
  border: 1px solid var(--text);
  border-radius: 10px;
  color: white;
  transition-duration: 0.5s;
}

#uv-address:focus {
  box-shadow: 0 0 30px var(--effects);
}

.title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 7em;
  margin: 0px;
  margin-bottom: 5vh;
  color: var(--h1);
  transition: 0.5s linear;
  animation: load 0.6s ease-out;

}
.title:hover {
  text-shadow: 0 0 10px var(--h1), 0 0 20px var(--h1), 0 0 40px var(--h1);
}
.subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--text);
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--text),
    var(--primary)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear forwards;
  
}

@keyframes shine {
  0% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    background-position: -500%;
  }
  99.9999% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-position: 500%;
    background-size: 80%;

  }
}
.w3-input {
  color: #cccdce;
}
::placeholder {
  color: var(--text);
}

@keyframes show-proxy-div {
  from {
    bottom: -100vh;
    top: 100vh;
  }
  to {
    bottom: 0;
    top: 0;
  }
}

@keyframes hide-proxy-div {
  from {
    bottom: 0;
    top: 0;
    display: block;
  }
  to {
    bottom: -100vh;
    top: 100vh;
    display: block;
  }
}

#proxy-div {
  transition: background-color 0.5s;
}

.hide-proxy-div {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  animation-name: hide-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.show-proxy-div {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  animation-name: show-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.tab {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  border: none;
  background-color: inherit;
  display: none;
}

#proxy-nav-bar {
  height: 45px;
  background-color: var(--secondary);
  color: white;
}

.tabBarTab {
  background-color: transparent;
  margin-top: 45px;
  margin-left: 5px;
  height: 45px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  float: left;
  padding: 8px;
  transition-property: margin-top, background-color;
  transition-duration: 0.25s;
}

#newTab {
  background-color: var(--primary);
  margin-top: 7.5px;
  margin-bottom: 2.5px;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  border-radius: 8px;
  float: left;
  padding: 0px;
  cursor: pointer;
}

#tabBarTabs {
  margin: 0;
  padding: 0;
}
