@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

html,
body {
  height: 100%;
  margin: 0;
}

.search-box {
  text-align: center;
  height: calc(100vh - 80px);
  margin: 0;
}

#uv-address {
  width: 40vw;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  height: 68px;
  background: none;
  padding: 0px 17px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  outline: none;
  color: white;
  transition-duration: 0.5s;
}

#uv-address:focus {
  box-shadow: 0 0 30px var(--effects);
}

.title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 7em;
  margin: 0px;
  margin-bottom: 5vh;
  color: #e9f1f7;
}

.subtitle {
  color: #777a7d;
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
}

@keyframes show-proxy-div {
  from {
    bottom: -100vh;
    top: 100vh;
  }
  to {
    bottom: 0;
    top: 0;
  }
}

@keyframes hide-proxy-div {
  from {
    bottom: 0;
    top: 0;
    display: block;
  }
  to {
    bottom: -100vh;
    top: 100vh;
    display: block;
  }
}

#proxy-div {
  transition: background-color 0.5s;
}

.hide-proxy-div {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  animation-name: hide-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.show-proxy-div {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  animation-name: show-proxy-div;
  animation-duration: 0.5s;
  z-index: 10;
}

.tab {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  border: none;
  background-color: inherit;
  display: none;
}

#proxy-nav-bar {
  height: 45px;
  background-color: var(--primary);
  color: white;
}

.tabBarTab {
  background-color: var(--secondary);
  margin-top: 45px;
  margin-left: 5px;
  height: 45px;
  border-radius: 8px;
  float: left;
  padding: 8px;
  transition-property: margin-top, background-color;
  transition-duration: 0.25s;
}

#newTab {
  background-color: var(--secondary);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  border-radius: 8px;
  float: left;
  padding: 0px;
  cursor: pointer;
}

#tabBarTabs {
  margin: 0;
  padding: 0;
}
