* {
    box-sizing: border-box;
}

body {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

#uv-frame {
    height: calc(100vh - 40px);
    width: 100vw;
    border: none;
}

#proxy-nav-bar {
    height: 40px;
    background-color: var(--primary);
    color: white;
}

#nav-bar-address {
    width: 35vw;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    color: white;
    background-color: var(--primary);
}


#nav-bar-form {
    height: 40px;
    margin: 0;
    padding: 0;
}
.dropdown {
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    font-size: 15px;
    color: white;
  }
  .dropdown-content {
    opacity: 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary);
    z-index: 1;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    visibility: hidden;
    right: 130px;
  }
  .dropdown-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    opacity: 0.6;
  }